#read_online{
	margin-top: 70px;
	padding-left: 60px;
}
#book_container{
	width: 200px;
	height: auto;
	margin: 10px;
	margin-left: 40px;
	margin-top: 30px;
	background: white;
	padding: 10px;
	box-shadow: 5px 5px 10px black;
	float: left;
	transition: 0.3s;
}
#book_container:hover{
	box-shadow: 5px 10px 10px #f2d13e;
	transition: 0.3s;
}
#book_footer{
	background: black;
	color:white;
	margin: 0;
}
#book_image img{
	width: 200px;
	height: 252px;
}
#book_footer p{
	margin: 0;
	padding-left: 0;
	padding-left: 25px;
}
#book_footer a{
	margin: 0;
	padding-left: 0;
	padding-left: 60px;

}